<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Nombre: <%= f.text_field :first_name %>
  Apellido: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email_address %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>